@media (max-width: 768px) {
  .newsitem-view h1 {
    font-size: 32px !important;
    line-height: 1.4 !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .newsitem-view {
    h3 {
      font-size: 20px !important;
      line-height: 1.4 !important;
      margin-left: 0px !important;
      margin-right: 0px !important;
    }
  }

  #page-document .blocks-group-wrapper > h1.documentFirstHeading, #page-document .blocks-group-wrapper > .block.image.align.left, #page-document .blocks-group-wrapper > .block.image.align.right, #page-document .blocks-group-wrapper > .block.image.align.center, #page-document .blocks-group-wrapper > .block.image.align.wide figure, #page-document .blocks-group-wrapper > .block.video.align.left, #page-document .blocks-group-wrapper > .block.video.align.right, #page-document .blocks-group-wrapper > .block.maps.align.left, #page-document .blocks-group-wrapper > .block.maps.align.right, #page-document .blocks-group-wrapper > .block.video.align.wide .video-inner, #page-document .blocks-group-wrapper > .block.maps.align.wide .maps-inner, #page-document .blocks-group-wrapper > .block.__button, #page-document .blocks-group-wrapper > .block.eventMetadata .details-container, #page-document .blocks-group-wrapper > .block.listing .listing-item, #page-document .blocks-group-wrapper > .block.listing .emptyListing, #page-document .blocks-group-wrapper > .block.listing .image-gallery, #page-document .blocks-group-wrapper > .block.listing.grid, #page-document .blocks-group-wrapper > .block.search.grid, #page-document .blocks-group-wrapper > .block.search .searchBlock-container, #page-document .blocks-group-wrapper > .block h2.headline, #page-document .blocks-group-wrapper > .block.heading .heading-wrapper, #page-document .blocks-group-wrapper > .block.separator.has--align--full .line, #page-document .blocks-group-wrapper > .block.introduction .block-container, #page-document .blocks-group-wrapper > .block.teaser .teaser-item.default, #page-document .blocks-group-wrapper > .block.highlight .teaser-description-title, #page-document .blocks-group-wrapper > table, #page-document .blocks-group-wrapper > .table-of-contents, #page-document .blocks-group-wrapper > .accordion-block, #page-document .blocks-group-wrapper > .slate blockquote {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .sidebar-single {
    max-width: 100%;
    min-width: 100%;
  }

  body {
    padding-top: 64px;
  }

  .ui.basic.segment.content-area {
    padding-top: 32px !important;
  }

  #page-document .blocks-group-wrapper > p {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .grid-cols-mb-1 {
    grid-template-columns: 1fr !important;
  }


  .title-back {
    font-size: 18px !important;
  }

  .pl-mb {
    padding-left: 20px !important;
  }

  .header-top {
    display: none !important;
  }
  .pr-mb {
    padding-right: 20px !important;
  }

  .breadcrumb .section.active {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limita a uma linha */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(14px, 2vw, 20px); /* Ajusta o tamanho do texto responsivamente */
    white-space: nowrap;
  }


  .grid-vereador {
    .sidebar {
      padding-right: 20px;
      padding-left: 20px;
    }

    .overflow-auto-mobile {
    }

    .card-default {
      max-width: 100vw;
    }
  }


  iframe {
    max-width: 100%;
  }
  .contenttype-vereadores .ui.basic.segment.content-area {
    padding-top: 0px !important;
  }

  .background-color-cinza .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .d-mb-block {
    display: block;
  }
  .text-mb-center {
    text-align: center;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .grid-vereador {
    grid-template-columns: 1fr !important;
  }
  .overflow-auto-mobile {
    overflow: auto;
    display: flex !important;
    width: calc(100% + 40px);
    position: relative;
    padding-left: 20px;
    justify-content: flex-start !important;
    left: -20px;
    padding-right: 20px;

    > * {
      min-width: fit-content;
    }
  }
  .cards-flex.wrap.type-2 .item-card {
    flex-direction: column;
  }
  .justify-mb-start {
    justify-content: flex-start;
  }

  .align-items-mb-start {
    align-items: flex-start;
  }

  .section-vereadores .container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .cards-flex.wrap.type-2 .info {
    flex: unset;
  }

  .flex-column-mb {
    flex-direction: column !important;
  }

  #page-document .blocks-group-wrapper > p {
    font-size: 18px !important;
  }

  #page-document .blocks-group-wrapper > h2 {
    margin-left: 0px !important;
    margin-right: 0px !important;
    font-size: 20px !important;
    line-height: normal;

  }

  .documentFirstHeading + * {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .flex-mb {
    display: flex !important;
  }

  .sidebar-news {
    max-width: 100%;
    min-width: 100%;
  }

  .footer-stack .container {
    padding-left: 20px;
    padding-right: 20px;
  }

  .stack-footer {
    flex-wrap: wrap !important;
    gap: 32px !important;

    > * {
      max-width: calc(50% - 16px);
    }

    > *:nth-child(5) {
      order: 6;
      width: 100%;
      max-width: 100%;
    }

    > *:first-child {
      width: 100%;
    }

  }

  .max-w-mobile-100vw {
    max-width: calc(100vw - 40px) !important;
  }

  .overflow-auto-mobile.child-75vw {
    > * {
      min-width: 75vw !important;
    }
  }

  .aspect-ratio-1116-200 {
    aspect-ratio: inherit;
    width: 100%;
    height: auto;
    object-fit: fill;
  }
}
