.container-base {
  max-width: 1200px !important;
}

:root {
  --layout-container-width: 1200px;
  --default-container-width: 1200px;
  --narrow-container-width: 1200px;
  --primary-color: #3e8a8e;
}
