.background-primary {
  background-color: var(--primary-color);
}

.color-primary {
  color: var(--primary-color);
}

.background-color-cinza {
  background: #F2F2F2;
}

.background-color-cinza-soft {
  background-color: #F9FAFB;
}

.color-black {
  color: #212121 !important;
}

.color-gray {
  color: var(--Greyish, #646E73);
}

