.background-primary {
  background-color: var(--primary-color);
}

.color-primary {
  color: var(--primary-color);
}

.background-color-cinza {
  background: #f2f2f2;
}

.background-color-cinza-soft {
  background-color: #f9fafb;
}

.color-black {
  color: #212121 !important;
}

.color-gray {
  color: var(--Greyish, #646e73);
}
